html {
    scrollbar-width: none;
}
.content {
    font-family: 'Kodchasan', sans-serif;
    color: var(--darkGrey);
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: var(--radius);
    margin: 60px auto;
    max-width: 80%;
    overflow:hidden;
    box-shadow: 10px 10px 25px -19px rgba(0,0,0,0.75);
}
.block.space-around {
    justify-content: space-around;
}
.block > .text {
    padding: 10px;
}
.block > .image {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.block a {
    color: var(--darkGrey);
    text-decoration: none;
}

.green, a.green {
    color: var(--green);
}
.orange, a.orange {
    color: var(--yellow);
}
#menu {
    font-family: 'Kodchasan', sans-serif;
    position: fixed;
    top:0;
    left:0;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px var(--text);
    transition: all 1s;
}
#menu .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu #burger {
    font-size: 32px;
}
#menu a,  #menu-mobile a {
    color: var(--darkGrey);
    text-decoration: none;
}
#menu a.active {
    border-bottom: 4px solid var(--green);
    color: var(--darkGrey);
    height: 100%;
}
#menu a.active > i {
    color: var(--green)
}
#menu .back {
    height: 60px;
    transition: height 1s;
}
#menu .back img {
    height: 60px;
    transition: height 1s;
}
#menu.scrolled {
    width: calc(100% - 4px);
    padding: 2px;
}
#menu.scrolled .back {height: 30px;}
#menu.scrolled .back img {
    height:30px;
}
#menu #contact {
    /*margin-left: auto;*/
}
#menu.hidden {
    opacity: 0;
}
#menu-mobile {
    position: fixed;
    display: flex;
    right:-1000px;
    top:0;
    width:80%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    font-size: 48px;
    transition: right 250ms;
}
#menu-mobile.open {
    right:0;
}
#menu-mobile a {
    margin:10px;
}
#closeButton {
    position:relative;
    left: -40px;
}
#closeButton .icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    line-height: 80px;
    box-shadow: 1px 1px 5px var(--text);
}

.content {
    margin-top:100px;/*menu's height*/
}

.delay-200ms {animation-delay: 200ms;}
.delay-400ms {animation-delay: 400ms;}
.delay-600ms {animation-delay: 600ms;}
.delay-800ms {animation-delay: 800ms;}

/*
 * MOBILE ONLY
 */
@media screen and (max-device-width: 540px) {
    .block {
        flex-direction: column;
        max-width: 95%;
    }
    .block > .text {
        order: 1;
    }
    .block > .image {
        order: 2;
    }
}

.margin-top-10 {
    margin-top:10px;
}
@media screen and (min-device-width: 540px) {
    #menu-mobile {display: none}
}